@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), 
        local('SourceSansPro-ExtraLight'), 
        url("/template/default/font/sourcesanspro_extralight/SourceSansPro-ExtraLight-webfont.eot?#iefix")     format("embedded-opentype"), 
        url("/template/default/font/sourcesanspro_extralight/SourceSansPro-ExtraLight-webfont.woff")           format("woff"), 
        url("/template/default/font/sourcesanspro_extralight/SourceSansPro-ExtraLight-webfont.ttf")                 format("truetype"), 
        url("/template/default/font/sourcesanspro_extralight/SourceSansPro-ExtraLight-webfont.svg#webfont")    format("svg");
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), 
        local('SourceSansPro-Light'), 
        url("/template/default/font/sourcesanspro_light/SourceSansPro-Light-webfont.eot?#iefix")  format("embedded-opentype"), 
        url("/template/default/font/sourcesanspro_light/SourceSansPro-Light-webfont.woff")        format("woff"), 
        url("/template/default/font/sourcesanspro_light/SourceSansPro-Light-webfont.ttf")         format("truetype"), 
        url("/template/default/font/sourcesanspro_light/SourceSansPro-Light-webfont.svg#webfont") format("svg");
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), 
         local('SourceSansPro-Regular'), 
         url("/template/default/font/sourcesanspro_regular/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), 
         url("/template/default/font/sourcesanspro_regular/SourceSansPro-Regular-webfont.woff") format("woff"), 
         url("/template/default/font/sourcesanspro_regular/SourceSansPro-Regular-webfont.ttf") format("truetype"), 
         url("/template/default/font/sourcesanspro_regular/SourceSansPro-Regular-webfont.svg#webfont") format("svg");
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), 
         local('SourceSansPro-Semibold'), 
         url("/template/default/font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.eot?#iefix") format("embedded-opentype"), 
         url("/template/default/font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.woff") format("woff"), 
         url("/template/default/font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.ttf") format("truetype"), 
         url("/template/default/font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.svg#webfont") format("svg");
} 